@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Wix+Madefor+Display:wght@500&display=swap");
.main {
    // section banner
    .banner {
        @include size(100%);
        position: relative;
        background: url(/src/assets/image/banner.jpg) no-repeat center;
        background-size: cover;
        padding-top: 160px;
        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background: rgba($color: #000000, $alpha: 0.8);
        }
        &::after {
            position: absolute;
            content: "";
            background: url(/src/assets/image/pattern-min.png) no-repeat center;
            z-index: 1;
            @include size(100%);
            bottom: -310px;
            background-position-x: -330px;
        }
        &_content {
            position: relative;
            z-index: 2;
            @include flex(center, space-around);
            &-box {
                margin-left: 60px;
                opacity: 0;
                animation: opacity 2s 1s linear forwards;
                .text {
                    position: relative;
                    font-size: 16px;
                    padding-left: 45px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1;
                    color: $white-cl;
                    &::before {
                        @include centerY;
                        left: 0;
                        content: "";
                        @include size(30px, 2px);
                        background: $white-cl;
                    }
                }
                .heading {
                    font-size: 60px;
                    text-transform: capitalize;
                    line-height: 1;
                    padding: 18px 0 58px;
                    color: $white-cl;
                }
                .desc {
                    color: $white-cl;
                    font-size: 17px;
                }
                .btn {
                    padding: 15px 30px;
                    display: inline-block;
                    color: $white-cl;
                    border-radius: 5px;
                    background: $green-cl;
                    margin-top: 25px;
                }
            }
            &-photo {
                opacity: 0;
                animation: opacity 2s linear forwards;
                img {
                    width: 600px;
                }
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            &::after {
                background-position-x: -400px;
                height: 50%;
                bottom: -80px;
            }
            &_content {
                &-box {
                    margin-left: 60px;
                    opacity: 0;
                    animation: opacity 2s 1s linear forwards;
                    .text {
                        font-size: 15px;
                    }
                    .heading {
                        font-size: 45px;
                        padding: 18px 0 20px;
                    }
                    .desc {
                        font-size: 17px;
                    }
                    .btn {
                        padding: 12px 30px;
                        margin-top: 20px;
                    }
                }
                &-photo {
                    img {
                        max-width: 370px;
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
            &::after {
                background: url(/src/assets/image/wave.svg) no-repeat;
                bottom: -140px;
            }
            &_content {
                margin-top: -20px;
                &-box {
                    margin-left: 20px;
                    padding: 0 0 50px;
                    .text {
                        padding-left: inherit;
                        width: max-content;
                        display: block;
                        font-size: 13px;
                        &::before {
                            display: none;
                        }
                    }
                    .heading {
                        font-size: 30px;
                        padding: 18px 0 20px;
                    }
                    .desc {
                        font-size: 15px;
                        line-height: 20px;
                    }
                    .btn {
                        padding: 10px 25px;
                        margin-top: 15px;
                        font-size: 15px;
                    }
                }
                &-photo {
                    img {
                        max-width: 190px;
                    }
                }
            }
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
    // section category
    .category {
        background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
        background-size: cover;
        &_content {
            &-box {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
                padding-top: 80px;
                position: relative;
                z-index: 3;
                .item {
                    overflow: hidden;
                    text-align: center;
                    .thumnail {
                        @include size(230px);
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            max-width: 100%;
                            min-width: 100%;
                            min-height: 100%;
                            object-fit: cover;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .name {
                        display: inline-block;
                        font-size: 20px;
                        font-weight: 600;
                        margin: 20px 0 20px -40px;
                        color: #000;
                    }
                }
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            &_content {
                &-box {
                    gap: inherit;
                    .item {
                        .thumnail {
                            @include size(150px);
                        }
                        .name {
                            font-size: 16px;
                            margin: 20px 0 20px -25px;
                        }
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
            &_content {
                &-box {
                    padding-top: 25px;
                    .item {
                        .thumnail {
                            @include size(80px);
                        }
                        .name {
                            font-size: 14px;
                            margin: 20px 0 20px -12px;
                        }
                    }
                }
            }
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
    // section product
    .product {
        background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
        background-size: cover;
        &_content {
            &-tablist {
                text-align: center;
                .tab {
                    display: inline-block;
                    padding: 10px 20px;
                    margin: 40px 15px;
                    background: $white-cl;
                    border-radius: 7px;
                    font-size: 18px;
                    color: $black-cl;
                    font-family: "Wix Madefor Display", sans-serif;
                    &.active {
                        background: $green-cl;
                        color: #fff;
                    }
                }
            }
            &-box {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
            &-btn {
                padding: 12px 60px;
                color: #fff;
                font-weight: 600;
                border-radius: 5px;
                background: #0d47a1;
                position: relative;
                overflow: hidden;
                background: $green-cl;
                border: none;
                cursor: pointer;
                margin-top: 30px;
                left: 50%;
                transform: translateX(-50%);
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 50px;
                    opacity: 0;
                    background: linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 1) 50%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    mix-blend-mode: overlay;
                    left: 0;
                    top: 0;
                }
                &:hover {
                    &::after {
                        animation: line 1.5s linear forwards;
                    }
                }
                a {
                    color: $white-cl;
                }
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            &_content {
                &-tablist {
                    .tab {
                        padding: 10px;
                        margin: 25px 10px 30px;
                        font-size: 16px;
                    }
                }
                &-box {
                    gap: 15px;
                }
                &-btn {
                    padding: 10px 30px;
                    margin-top: 25px;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
            &_content {
                &-tablist {
                    .tab {
                        padding: 10px;
                        margin: 25px 5px 30px;
                        font-size: 14px;
                    }
                }
                &-box {
                    grid-template-columns: 1fr;
                    row-gap: 15px;
                }
            }
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
    // section introduce
    .introduce {
        padding: 70px 0;
        background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
        background-size: cover;
        &_content {
            &-box {
                display: grid;
                grid-template-columns: 647px 1fr;
                .thumnail {
                    position: relative;
                    padding-bottom: calc(392 / 647 * 100%);
                    img {
                        @include image;
                    }
                }
                .content {
                    .heading {
                        font-family: "Wix Madefor Display", sans-serif;
                        font-size: 40px;
                        font-weight: 600;
                        max-width: 350px;
                        line-height: 50px;
                    }
                    .text {
                        color: $green-cl;
                        font-size: 20px;
                        margin: 20px 0 40px;
                        font-weight: 600;
                    }
                    .desc {
                        max-width: 340px;
                        font-size: 18px;
                        line-height: 24px;
                        color: #888;
                    }
                    .btn {
                        border: none;
                        background: $green-cl;
                        padding: 13px 40px;
                        color: $white-cl;
                        margin: 20px 0;
                        font-size: 17px;
                        border-radius: 7px;
                        position: relative;
                        cursor: pointer;
                        font-family: "Wix Madefor Display", sans-serif;
                        &::after {
                            position: absolute;
                            content: "";
                            @include size(10px, 100%);
                            background: $white-cl;
                            top: 0;
                            left: 0;
                            filter: blur(10px);
                            transform: translateX(-100px);
                        }
                        &:hover {
                            &::after {
                                animation: hover 1s linear forwards;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            padding: 60px 0 15px;
            &_content {
                &-box {
                    grid-template-columns: repeat(2, 1fr);
                    .content {
                        padding-left: 40px;
                        .heading {
                            font-size: 30px;
                            max-width: 300px;
                            line-height: 35px;
                        }
                        .text {
                            font-size: 18px;
                            margin: 15px 0 20px;
                        }
                        .desc {
                            max-width: inherit;
                            font-size: 17px;
                            line-height: 20px;
                        }
                        .btn {
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
            padding: 60px 0 15px;
            &_content {
                &-box {
                    grid-template-columns: 1fr;
                    row-gap: 20px;
                    .content {
                        padding-left: inherit;
                        text-align: center;
                        .heading {
                            max-width: inherit;
                        }
                    }
                }
            }
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
    //  section selling
    .selling {
        background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
        background-size: cover;
        &_content {
            &-box {
                padding: 50px 0;
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            &_content {
                &-box {
                    padding: 30px 0 10px;
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
    // section blog
    .blog {
        background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
        background-size: cover;
        &_content {
            &-box {
                padding: 50px 0 100px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                .item {
                    .thumnail {
                        position: relative;
                        padding-bottom: calc(236 / 357 * 100%);
                        overflow: hidden;
                        img {
                            position: absolute;
                            max-width: 100%;
                            min-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(1);
                            transition: 0.4s;
                        }
                        &:hover {
                            img {
                                transform: translate(-50%, -50%) scale(1.05);
                                transition: 0.4s;
                            }
                        }
                    }
                    .day {
                        color: #53a16e;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: "Merriweather", serif;
                        padding: 20px 0 0;
                    }
                    .name {
                        font-size: 22px;
                        font-weight: bold;
                        margin: 10px 0 20px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                    .desc {
                        color: #888;
                        font-size: 15px;
                        font-family: "Merriweather", serif;
                        line-height: 20px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }
            }
        }
        @media (max-width: $sm-max) {
            // Tablet
            &_content {
                &-box {
                    padding: 40px 0;
                    gap: 10px;
                    .item {
                        .day {
                            font-size: 13px;
                        }
                        .name {
                            font-size: 18px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            // Mobile
            &_content {
                &-box {
                    display: flex;
                    width: 100%;
                    // overflow: auto;
                    scroll-snap-type: x mandatory;
                    padding: 50px 0;
                    overflow: scroll;
                    column-gap: 10px;
                    .item {
                        min-width: 100%;
                        scroll-snap-align: start;
                    }
                }
                &-box::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }
            }
        }
        @media (max-width: $xxs-max) {
            // Small Mobile
        }
    }
}

@keyframes hover {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(70px);
    }
    50% {
        transform: translateX(180px);
    }
    100% {
        transform: translateX(200px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
