.payment {
    background: url(/src/assets/image/Pattern_bgr.jpg) center no-repeat;
    background-size: cover;
    padding: 30px 0 50px;
    &_content {
        &-box {
            padding: 60px 0;
            display: grid;
            grid-template-columns: 700px 1fr;
            gap: 50px;
            .productpayment {
                table {
                    width: 100%;
                    display: block;
                    overflow: hidden;
                    background: #fff;
                    .totalprice {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 10px;
                        box-sizing: border-box;
                        background: #d2d2d2;
                        span {
                            font-size: 20px;
                            font-family: "Roboto", sans-serif;
                            color: #a91111;
                            font-weight: 600;
                        }
                    }
                }
                td,
                th {
                    border: 1px solid #dddddd;
                    text-align: center;
                    padding: 8px;
                }
                thead {
                    background: #a91111;
                    color: #fff;
                }
                tbody {
                    position: relative;
                    .none {
                        display: block;
                        width: 100%;
                        height: 400px;
                        .pst {
                            @include center;
                            text-align: center;
                            .cart {
                                font-size: 50px;
                            }
                            .desc {
                                font-size: 30px;
                                margin: 10px 0 30px;
                            }
                            .linkbuy {
                                padding: 10px 40px;
                                color: #fff;
                                font-weight: 600;
                                border-radius: 20px;
                                background: #0d47a1;
                                position: relative;
                                overflow: hidden;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    height: 100%;
                                    width: 50px;
                                    opacity: 0;
                                    background: linear-gradient(
                                        90deg,
                                        rgba(255, 255, 255, 0) 0%,
                                        rgba(255, 255, 255, 1) 50%,
                                        rgba(255, 255, 255, 0) 100%
                                    );
                                    mix-blend-mode: overlay;
                                    left: 0;
                                    top: 0;
                                }
                                &:hover {
                                    &::after {
                                        animation: line 1.5s linear forwards;
                                    }
                                }
                            }
                        }
                    }
                }
                tfoot {
                    width: 100%;
                }
                td {
                    &.thumnail {
                        position: relative;
                        width: 100px;
                        height: 100px;
                        img {
                            @include image;
                            min-height: initial;
                        }
                    }
                }
                tr td button {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border: none;
                    background: #cecece;
                    padding: 7px 8px;
                    cursor: pointer;
                    border-radius: 50%;
                    svg {
                        font-size: 15px;
                    }
                }
            }
            .form-group {
                .title {
                    font-size: 28px;
                    font-family: "Roboto", sans-serif;
                    margin-bottom: 20px;
                }
                .text {
                    text-transform: uppercase;
                    font-size: 15px;
                    display: block;
                    margin-bottom: -15px;
                }
                select {
                    margin: 15px 0;
                    width: 100%;
                    padding: 8px 15px;
                    box-sizing: border-box;
                    border-radius: 7px;
                    display: block;
                    border: 2px solid #888;
                    transition: 1s;
                }
                .btnanimate {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: $sm-max) {
        // Tablet
        padding: 0 0 40px;
        &_content {
            &-box {
                padding: 30px 0;
                grid-template-columns: 1fr;
            }
        }
    }
    @media (max-width: $xs-max) {
        // Mobile
    }
    @media (max-width: $xxs-max) {
        // Small Mobile
        &_content {
            &-box {
                gap: 20px;
                .productpayment {
                    table {
                        display: inline-block;
                        overflow: hidden;
                        background: #fff;
                        tbody {
                            .none {
                                .pst {
                                    .cart {
                                        font-size: 40px;
                                    }
                                    .desc {
                                        font-size: 20px;
                                    }
                                    .linkbuy {
                                        padding: 8px 30px;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .form-group {
                    .title {
                        font-size: 27px;
                    }
                }
            }
        }
    }
    @media (max-width: 524px) {
        // Small Mobile
        &_content {
            &-box {
                .productpayment {
                    table {
                        th,
                        td {
                            &:first-child,
                            &:nth-child(2),
                            &:last-child {
                                display: none;
                            }
                        }
                        th {
                            &:nth-child(6) {
                                width: 1%;
                            }
                        }
                        tbody {
                            position: relative;
                            .none {
                                display: block;
                                width: 100%;
                                .pst {
                                    min-width: 320px;
                                    .cart {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
